{% extends "base.html" %}
{% block title %}Research{% endblock %}
{% block content %}

{% for article in articles %}
<article>
    <div class="article-left">
        <div class="article-title">{{ article['title'] }}</div>
        <div class="article-authors">{{ article['authors_string'] }}</div>
        <div class="article-abstract">{{ article['abstract'] }}</div>
    </div>
    <div class="article-image">
        <img src="{{ url_for('static', filename=article['image']) }}" alt="alt text for universal 4" />
    </div>
    <div class="article-footer">
        {% for text, link in article['links'] %}
        <a href="{{ link }}">{{ text }}</a>
        {% endfor %}
    </div>
</article>
{% endfor %}
{% endblock %}