{% extends "base.html" %}
{% block title %}PermPy{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
<py-env>
    - permpy
</py-env>
{% endblock %}

{% block content %}
<label for="basis">Basis</label>
<input id="basis" type="text"></input>
<button id="enumerate" pys-onClick="get_and_enumerate">Enumerate</button>
<label id="output"></label>

<py-script src="{{ url_for('static', filename='scripts/enumerate.py') }}">

{% endblock %}