{% extends "base.html" %}
{% block title %}Software{% endblock %}
{% block content %}

{% for software in my_software %}
<article>
    <div class="article-left">
        <table>
            <tr>
                <td valign="top">
                    <div class="article-title">{{ software['title'] }}</div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="article-authors">{{ software['authors'] }}</div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="article-abstract">{{ software['abstract'] }}</div>
                </td>
            </tr>
            <tr>
                <td valign="bottom">
                    <a href="{{ software['link'] }}">{{ software['link'] }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="article-image">
        <img src="{{ url_for('static', filename=software['image']) }}" alt="Alt text." />
    </div>
</article>
{% endfor %}
{% endblock %}