:root {
    --color-dark: #112B3C;
    --color-light: #205375;
    --color-accent: #F66B0E;
    --color-white: #EFEFEF;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: var(--color-white);
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em;
}

main {
    margin: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--color-dark);
    border-radius: 0.5em;
    color: var(--color-white);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    color: var(--color-white);
}

.nav-links a:hover {
    text-decoration: underline;
}

.title {
    font-size: 2em;
}

article {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    border-radius: 1em;
    border-color: var(--color-dark);
    overflow: hidden;
}

.article-left {
    max-width: 80%;
    float: left;
}

.article-title {
    font-size: 1.4em;
}

.article-authors {
    font-size: 0.9em;
    margin: 0.25em 0 0.75em;
}

.article-image {
    max-width: 20%;
    padding: 0.5em;
    float: right;
}

.article-image>img {
    max-width: 100%;
    display: block;
    border: 2px solid var(--color-dark);
    border-radius: 4px;
}

.article-abstract {
    padding: 0.5em 0;
}

.article-footer {
    clear: left;
}

.article-footer>a {
    font-size: 0.9em;
    color: blue;
}

.article-footer>a:not(:first-child) {
    margin: 0 1em;
}